<h1 class="text-center">Wikis</h1>

<div class="row">
  <div class="col-md-12">
    <table class="table table-condensed table-hover" id="wiki-table">
      <tbody>
        <% @wikis.each do |wiki| %>
          <div class="media">
            <div class="media-body">
                  <tr>
                    <td><h4><%= link_to wiki.title, wiki %></h4></td>
                    <td><h4><%= link_to "Edit", edit_wiki_path(wiki), class: "btn btn-info btn-xs" %></h4></td>
                    <td><h4><%= link_to "Delete", wiki, method: :delete, class: "btn btn-danger btn-xs" %></h4></td>
                  </tr>
            </div>
          </div>
        <% end %>
      </tbody>
    </table>
    <div class="text-center">
      <%= link_to "New Wiki", new_wiki_path, class: "btn btn-success" %>
    </div>
  </div>
</div>