<h1 class="text-center">Wikis</h1>

<div class="row">
  <div class="col-md-12">
    <% if @privatewikis.any? %>
      <h3>Private Wikis</h3>
      <table class="table table-condensed table-hover" id="wiki-table">
        <tbody>
          <%= render @privatewikis %>
            
        </tbody>
      </table>
    <% end %>
    
    <h3>Public Wikis</h3>
    <table class="table table-condensed table-hover" id="wiki-table2">
      <tbody>
        <%= render @publicwikis %>
          
      </tbody>
    </table>
    <%= will_paginate @publicwikis %>
    
    <div class="text-center">
      <% if policy(Wiki.new).new? %>
        <%= link_to "New Wiki", new_wiki_path, class: "btn btn-success" %>
      <% end %>
    </div>
  </div>
</div>