<h1>Downgrade Membership</h1>

<p>
  If you are no longer interested in being a premium member and would like to return
  to our standard membership, you may do so at the link below. Unfortunately your
  existing private wikis will become public and you will no longer be able to create 
  additional private wikis :( . Be sure to let us know how we can improve our 
  experience in the future. We hate to see you go!
</p>

<% if @privwikis.any? %>
  <%= link_to "Downgrade", charges_path, data: { confirm: "You have outstanding private wikis. Those wikis will all be converted to public once you transfer to standard membership. Would you like to continue?" }, method: :delete, class: "btn btn-danger" %>
<% else %>
  <%= link_to "Downgrade", charges_path, method: :delete, class: "btn btn-danger" %>
<% end %>